@import './globals';
@import './reset';

.navcontainer{
    //background-color: yellow;
    display: flex;
    padding: 4px 10px;
    align-items: center;
    width: 100%;

    .logo{
        margin-right: auto;
        img{
            height: 60px;
        }
    }

    .navlinks{
      //  display: none;
        ul{
            background-color: #C0842B;
            position: absolute;
            width: 60%;
            z-index: 1;
            top: 73px;
            right: 0px;
            display: flex;
            flex-direction: column;

            li{
                text-align: center;
                padding: 30px 0px;
            }
        }
    }
}

.hero{
    padding: 10px 10px;
    padding-bottom: 230px;

    h1{
        position: relative;
        text-align: center;
        top: 90px;
        color: #feeeeee5;
    }
}

.home{
    background: linear-gradient(rgba(19, 52, 110, 0.105),rgba(0, 88, 214, 0.275)),url('../img/choir.jpg');
    background-size: cover;
    background-position-x: 20%;
}

.events{
    background: linear-gradient(rgba(19, 52, 110, 0.105),rgba(0, 88, 214, 0.275)),url('../img/prayer.jpg');
    background-size: cover;
}

.about{
   background-image: url('../img/cross.jpg');
    background-size: cover;
}




.info{
    .bar{
        position: relative;
        background-color: #C0842B;
        padding: 20px;
        margin-top: 15%;
    }

    .bar2{
        z-index: -1;
        position: relative;
        margin-top: 0%;
        top: -12em;
    }

    .cards{
        .imgcard{
            z-index: 1;
            position: relative;
            top: -4em;
            padding: 95px 50px;
            width: 18em;
            margin: auto;
            background-image: url('../img/worship.jpg');
            background-size: cover;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
        }

        .infocard{
            position: relative;
            top: -8em;
            padding: 75px 50px;
            background-color: #5D6A7D;
            color: #feeeeee5;
            width: 21em;
            margin: auto;
            margin-bottom: -5%;

            h1{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 18px;
            }

            p{
                line-height: 1.4em;
                font-size: 17px;
            }
        }

        .servicecard{
            .img1{
                background-image: url('../img/worship.jpg');
            }
        }

        .locationcard{
            .img2{
                background-image: url('../img/map.jpg');
            }
        }

        .biblestudycard{
            .img3{
                background-image: url('../img/bstudy.jpg');
            }
        }

        .weddingcard{
            background-color: #5D6A7D;

            .infocard{
                background-color: #C0842B;
            }
            .img4{
                background-image: url('../img/marriage.jpg');
            }
        }

        .youthservicecard{
            .img5{
                background-image: url('../img/youth.jpg');
            }
        }
            
    }
}

.aboutus{
    padding: 50px 25px;
    margin-bottom: 120px;

    h1{
        position: relative;
        text-align: center;
        border-bottom: none;
        width: 100px;
        margin: auto;
        margin-bottom: 25px;
        transition: .2s;
    }

}

footer{
    background-color: #5D6A7D;
    margin-top: -5.2em;
    padding: 20px;
    text-align: center;
    line-height: 2em;
    color: #feeeeee5;
}

@media only screen and (min-width: 750px){

    .navcontainer{
        .logo{
            padding-left: 20px;
        }
    }

   
    .info{

        .bar{
            margin-top: 8em;
           top: -2em;
        }

        .bar2{
            top: -21em;
        }

        .cards{
            .servicecard,.locationcard,.biblestudycard,.youthservicecard
            ,.weddingcard{
                display: flex;
                width: 45em;
                margin: auto;
                margin-bottom: 4em;
            }

            .imgcard{
                padding: 125px 170px;
                top: -7.5em;
                left: 2em;
            }

            .infocard{
                left: -2em;
                top: -8.5em;
                padding: 75px 70px;
                width: 48em;
                line-height: 2em;
                letter-spacing: .03em;

                
                
                p{
                    position: relative;
                    left: 1em;

                }
            }

            .locationcard{
                margin-bottom: -8em;
            }

            .weddingcard{
                width: 48em;
                height: 420px;
                margin-bottom: 11em;
                margin-top: -7.7em;
                
                


                .imgcard{
                   // padding: 125px 90px;
                    top: 0em;
                    left: 3.6em;
                }

                .infocard{
                    top: -5em;
                    left: -3.5em;
                    padding: 68px 80px;

                    p{
                        left: 3em;
                        padding: 0 10px;
                    }
                }
            }

            .youthservicecard{
                margin-bottom: -8.2em;
            }
        }
    }

    .about{
        background-position-y: 80%;
        padding-bottom: 28em;

        h1{
            top: 5em;
        }
    }

    .aboutus{

        h1{
            margin-top: 1.4em;
        }
        p{
          // height: 10em;
            width: 40em;
            margin: auto;
            margin-top: 3em;
            line-height: 1.5em;
        }
    }

    footer{
        margin-top: -3.8em;
        
        .contacts{
            margin-top: 15px;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media only screen and (min-width: 1000px){
    .hero{
        padding-bottom: 400px;
        

        h1{
            top: 170px;
            font-size: 3em;
            color: #feeeeef8;
        }

        .navcontainer{
            width: 100%;
            
            
            .burger{
                display: none;
            }

            .navlinks{
                //position: relative;
                //width: 100%\\;
                
                

                margin-top: 0%;
               ul{
                   //width: 100%;
                   top: 0;
                   
                   flex-direction: row;
                   background-color:transparent; 
                   

                   li{
                    position: relative;
                    padding: 30px 30px;
                    //float: left;
                    left: 10em;
                    
                   }
               }
            }
        }

    }

    .about{
        padding-bottom: 40em;

        h1{
            top: 5.2em;
        }
    }

    .aboutus{
        p{
            font-size: 1.1em;
            line-height: 1.8em;
            margin-bottom: 3.8em;
        }

        h1{
            margin-top: 3em;
        }
    }

    .info{
        .bar2{
            top: -13em;
        }
        .cards{
            .biblestudycard,.youthservicecard
            ,.weddingcard{
                width: 50em;
                
            }

            .servicecard,.locationcard{
                width: 45em;
  
            }

            .weddingcard{
                

                .infocard{
                   // width: 29em;
                    left: -2em;
                    top: -6em;

                    p{
                        left: 1em;
                    }
                }

                

                
            }
        }
    }

}

@media only screen and (min-width: 1200px){

    .hero{
        .navcontainer{
                .navlinks{
                    ul{
                        li{
                            left: 18em;
                        }
                    }
                }
            }

    }
    
}

