body {
  background-color: #EEEEEE;
}

a, li, ul {
  text-decoration: none;
  list-style: none;
  color: white;
  letter-spacing: .3em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navcontainer .logo {
  margin-right: auto;
}

.navcontainer .logo img {
  height: 60px;
}

.navcontainer .navlinks ul {
  background-color: #C0842B;
  position: absolute;
  width: 60%;
  z-index: 1;
  top: 73px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navcontainer .navlinks ul li {
  text-align: center;
  padding: 30px 0px;
}

.hero {
  padding: 10px 10px;
  padding-bottom: 230px;
}

.hero h1 {
  position: relative;
  text-align: center;
  top: 90px;
  color: #feeeeee5;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 52, 110, 0.105)), to(rgba(0, 88, 214, 0.275))), url("../img/choir.jpg");
  background: linear-gradient(rgba(19, 52, 110, 0.105), rgba(0, 88, 214, 0.275)), url("../img/choir.jpg");
  background-size: cover;
  background-position-x: 20%;
}

.events {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 52, 110, 0.105)), to(rgba(0, 88, 214, 0.275))), url("../img/prayer.jpg");
  background: linear-gradient(rgba(19, 52, 110, 0.105), rgba(0, 88, 214, 0.275)), url("../img/prayer.jpg");
  background-size: cover;
}

.about {
  background-image: url("../img/cross.jpg");
  background-size: cover;
}

.info .bar {
  position: relative;
  background-color: #C0842B;
  padding: 20px;
  margin-top: 15%;
}

.info .bar2 {
  z-index: -1;
  position: relative;
  margin-top: 0%;
  top: -12em;
}

.info .cards .imgcard {
  z-index: 1;
  position: relative;
  top: -4em;
  padding: 95px 50px;
  width: 18em;
  margin: auto;
  background-image: url("../img/worship.jpg");
  background-size: cover;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}

.info .cards .infocard {
  position: relative;
  top: -8em;
  padding: 75px 50px;
  background-color: #5D6A7D;
  color: #feeeeee5;
  width: 21em;
  margin: auto;
  margin-bottom: -5%;
}

.info .cards .infocard h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 18px;
}

.info .cards .infocard p {
  line-height: 1.4em;
  font-size: 17px;
}

.info .cards .servicecard .img1 {
  background-image: url("../img/worship.jpg");
}

.info .cards .locationcard .img2 {
  background-image: url("../img/map.jpg");
}

.info .cards .biblestudycard .img3 {
  background-image: url("../img/bstudy.jpg");
}

.info .cards .weddingcard {
  background-color: #5D6A7D;
}

.info .cards .weddingcard .infocard {
  background-color: #C0842B;
}

.info .cards .weddingcard .img4 {
  background-image: url("../img/marriage.jpg");
}

.info .cards .youthservicecard .img5 {
  background-image: url("../img/youth.jpg");
}

.aboutus {
  padding: 50px 25px;
  margin-bottom: 120px;
}

.aboutus h1 {
  position: relative;
  text-align: center;
  border-bottom: none;
  width: 100px;
  margin: auto;
  margin-bottom: 25px;
  -webkit-transition: .2s;
  transition: .2s;
}

footer {
  background-color: #5D6A7D;
  margin-top: -5.2em;
  padding: 20px;
  text-align: center;
  line-height: 2em;
  color: #feeeeee5;
}

@media only screen and (min-width: 750px) {
  .navcontainer .logo {
    padding-left: 20px;
  }
  .info .bar {
    margin-top: 8em;
    top: -2em;
  }
  .info .bar2 {
    top: -21em;
  }
  .info .cards .servicecard, .info .cards .locationcard, .info .cards .biblestudycard, .info .cards .youthservicecard
, .info .cards .weddingcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45em;
    margin: auto;
    margin-bottom: 4em;
  }
  .info .cards .imgcard {
    padding: 125px 170px;
    top: -7.5em;
    left: 2em;
  }
  .info .cards .infocard {
    left: -2em;
    top: -8.5em;
    padding: 75px 70px;
    width: 48em;
    line-height: 2em;
    letter-spacing: .03em;
  }
  .info .cards .infocard p {
    position: relative;
    left: 1em;
  }
  .info .cards .locationcard {
    margin-bottom: -8em;
  }
  .info .cards .weddingcard {
    width: 48em;
    height: 420px;
    margin-bottom: 11em;
    margin-top: -7.7em;
  }
  .info .cards .weddingcard .imgcard {
    top: 0em;
    left: 3.6em;
  }
  .info .cards .weddingcard .infocard {
    top: -5em;
    left: -3.5em;
    padding: 68px 80px;
  }
  .info .cards .weddingcard .infocard p {
    left: 3em;
    padding: 0 10px;
  }
  .info .cards .youthservicecard {
    margin-bottom: -8.2em;
  }
  .about {
    background-position-y: 80%;
    padding-bottom: 28em;
  }
  .about h1 {
    top: 5em;
  }
  .aboutus h1 {
    margin-top: 1.4em;
  }
  .aboutus p {
    width: 40em;
    margin: auto;
    margin-top: 3em;
    line-height: 1.5em;
  }
  footer {
    margin-top: -3.8em;
  }
  footer .contacts {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding-bottom: 400px;
  }
  .hero h1 {
    top: 170px;
    font-size: 3em;
    color: #feeeeef8;
  }
  .hero .navcontainer {
    width: 100%;
  }
  .hero .navcontainer .burger {
    display: none;
  }
  .hero .navcontainer .navlinks {
    margin-top: 0%;
  }
  .hero .navcontainer .navlinks ul {
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
  }
  .hero .navcontainer .navlinks ul li {
    position: relative;
    padding: 30px 30px;
    left: 10em;
  }
  .about {
    padding-bottom: 40em;
  }
  .about h1 {
    top: 5.2em;
  }
  .aboutus p {
    font-size: 1.1em;
    line-height: 1.8em;
    margin-bottom: 3.8em;
  }
  .aboutus h1 {
    margin-top: 3em;
  }
  .info .bar2 {
    top: -13em;
  }
  .info .cards .biblestudycard, .info .cards .youthservicecard
, .info .cards .weddingcard {
    width: 50em;
  }
  .info .cards .servicecard, .info .cards .locationcard {
    width: 45em;
  }
  .info .cards .weddingcard .infocard {
    left: -2em;
    top: -6em;
  }
  .info .cards .weddingcard .infocard p {
    left: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .hero .navcontainer .navlinks ul li {
    left: 18em;
  }
}
/*# sourceMappingURL=styles.css.map */